Repository grasp-labs/ds-resource-plugin-py-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit

ruff:
  name: ruff
  language: system
  entry: uv run ruff check
  args:
  - --config
  - .config/ruff.toml
  - --fix
  - --exit-non-zero-on-fix

ruff-format:
  name: ruff-format
  language: system
  entry: uv run ruff format
  args:
  - --config
  - .config/ruff.toml

mypy:
  name: mypy
  language: system
  entry: uv run mypy
  args:
  - --config-file
  - .config/mypy.ini
  - src
  pass_filenames: false

bandit:
  name: bandit
  language: system
  entry: uv run bandit
  args:
  - -r
  - src
  pass_filenames: false

fix: typo in build.yaml workflow
  .github/workflows/build.yaml
Due: none

feat: support Python 3.11-3.13
  .github/workflows/ci.yaml
  README.md
  pyproject.toml
  uv.lock
Due: none

chore: bump to 0.1.0-alpha.2
  VERSION.txt
Due: none

chore: update makefile
  Makefile
Due: none

chore: update linked-service test
  tests/common/resource/linked_service/test_linked_service_errors.py
Due: ruff, ruff-format

chore: update valid version and fix docs.yaml
  .github/workflows/docs.yaml
  pyproject.toml
  uv.lock
Due: none

feat: add context-manager support for dataset/linked-service base & abstract method for close()
  src/ds_resource_plugin_py_lib/common/resource/dataset/base.py
  src/ds_resource_plugin_py_lib/common/resource/linked_service/base.py
Due: ruff, ruff-format, mypy, bandit

chore: update tests to reflect new abstract close()
  tests/common/resource/dataset/test_dataset_base_abstracts.py
  tests/common/resource/linked_service/test_linked_service_base_abstracts.py
Due: ruff, ruff-format

chore: bump pre-release to 0.1.0-alpha.3
  pyproject.toml
  uv.lock
Due: none

fix: add RenameError and rename WriteError to CreateError for consistency
  src/ds_resource_plugin_py_lib/common/resource/dataset/errors.py
Due: ruff, ruff-format, mypy, bandit

chore: update test to include new error
  tests/common/resource/dataset/test_dataset_errors.py
Due: ruff, ruff-format

refactor: rename to settings & add input/output instead of single content
  src/ds_resource_plugin_py_lib/common/resource/dataset/__init__.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/base.py
  src/ds_resource_plugin_py_lib/common/resource/linked_service/__init__.py
  src/ds_resource_plugin_py_lib/common/resource/linked_service/base.py
Due: ruff, ruff-format, mypy, bandit

chore: update tests to reflect attr renames
  tests/common/resource/client/test_instance_creation.py
  tests/common/resource/client/test_version_differentiation.py
  tests/common/resource/dataset/test_dataset_base_abstracts.py
  tests/common/resource/linked_service/test_linked_service_base_abstracts.py
  tests/common/serde/deserialize/test_pandas_deserializer.py
  tests/common/serde/serialize/test_pandas_serializer.py
Due: ruff, ruff-format

Apply suggestion from @Copilot
  tests/common/resource/client/test_instance_creation.py
Due: ruff, ruff-format

fix: rmv warning on pd.read_json()
  src/ds_resource_plugin_py_lib/common/serde/deserialize/pandas.py
Due: ruff, ruff-format, mypy, bandit

refactor: rename 'kind' to 'type' in dataset and linked service classes
  pyproject.toml
  src/ds_resource_plugin_py_lib/common/resource/client.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/base.py
  src/ds_resource_plugin_py_lib/common/resource/linked_service/base.py
  tests/common/resource/client/test_instance_creation.py
  tests/common/resource/client/test_properties.py
  tests/common/resource/client/test_version_differentiation.py
  tests/common/resource/client/test_yaml_parsing.py
  tests/common/resource/dataset/test_dataset_base_abstracts.py
  tests/common/resource/dataset/test_dataset_info.py
  tests/common/resource/linked_service/test_linked_service_base_abstracts.py
  tests/common/resource/linked_service/test_linked_service_info.py
  tests/conftest.py
  uv.lock
Due: ruff, ruff-format, mypy, bandit

refactor: rename 'kind' to 'type' in dataset and linked service classes (#7)
  pyproject.toml
  src/ds_resource_plugin_py_lib/common/resource/client.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/base.py
  src/ds_resource_plugin_py_lib/common/resource/linked_service/base.py
  tests/common/resource/client/test_instance_creation.py
  tests/common/resource/client/test_properties.py
  tests/common/resource/client/test_version_differentiation.py
  tests/common/resource/client/test_yaml_parsing.py
  tests/common/resource/dataset/test_dataset_base_abstracts.py
  tests/common/resource/dataset/test_dataset_info.py
  tests/common/resource/linked_service/test_linked_service_base_abstracts.py
  tests/common/resource/linked_service/test_linked_service_info.py
  tests/conftest.py
  uv.lock
Due: ruff, ruff-format, mypy, bandit

chore: update version numbers and logging implementation across multiple files
  pyproject.toml
  src/ds_resource_plugin_py_lib/common/resource/client.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/base.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/pandas.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/base.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/pandas.py
  src/ds_resource_plugin_py_lib/libs/utils/import_string.py
  uv.lock
Due: ruff, ruff-format, mypy, bandit

refactor: change logging level from info to debug in serializer and deserializer classes
  src/ds_resource_plugin_py_lib/common/serde/deserialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/pandas.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/pandas.py
  src/ds_resource_plugin_py_lib/libs/utils/import_string.py
Due: ruff, ruff-format, mypy, bandit

chore: align checks
  .pre-commit-config.yaml
  Makefile
Due: none

feat: new fields to abstract dataset & linked-service cls
  src/ds_resource_plugin_py_lib/common/resource/dataset/base.py
  src/ds_resource_plugin_py_lib/common/resource/linked_service/base.py
Due: ruff, ruff-format, mypy, bandit

chore: update tests to reflect changes
  tests/common/resource/dataset/test_dataset_base_abstracts.py
  tests/common/resource/linked_service/test_linked_service_base_abstracts.py
Due: ruff, ruff-format

chore: bump v0.1.0-beta.1
  pyproject.toml
  uv.lock
Due: none

feat: include version as required field
  src/ds_resource_plugin_py_lib/common/resource/dataset/base.py
  src/ds_resource_plugin_py_lib/common/resource/linked_service/base.py
Due: ruff, ruff-format, mypy, bandit

chore: update test to include version
  tests/common/resource/dataset/test_dataset_base_abstracts.py
  tests/common/resource/linked_service/test_linked_service_base_abstracts.py
Due: ruff, ruff-format

chore: add bandit as dev dep
  pyproject.toml
  uv.lock
Due: none

chore: Add contracts to dataset & linked-service
  .pre-commit-config.yaml
  docs/DATASET_CONTRACT.md
  docs/LINKED_SERVICE_CONTRACT.md
Due: none

chore: Update doccs
  .config/markdownlint.yaml
  CONTRIBUTING.md
  README.md
Due: none

feat: new contract established on linked-service and dataset, signature changes
  src/ds_resource_plugin_py_lib/common/resource/client.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/__init__.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/base.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/decorators.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/enums.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/errors.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/result.py
  src/ds_resource_plugin_py_lib/common/resource/errors.py
  src/ds_resource_plugin_py_lib/common/resource/linked_service/__init__.py
  src/ds_resource_plugin_py_lib/common/resource/linked_service/base.py
  src/ds_resource_plugin_py_lib/common/resource/linked_service/enums.py
Due: ruff, ruff-format, mypy, bandit

chore: update tests
  tests/common/resource/dataset/test_dataset_base_abstracts.py
  tests/common/resource/dataset/test_dataset_errors.py
  tests/common/resource/linked_service/test_linked_service_base_abstracts.py
  tests/common/resource/test_resource_errors.py
Due: ruff, ruff-format

chore: bump v0.1.0-rc.1
  pyproject.toml
  uv.lock
Due: none

feat: add provider discovery and enum rules to contract
  docs/DATASET_CONTRACT.md
  docs/LINKED_SERVICE_CONTRACT.md
Due: none

refactor: standardize DatasetStorageFormatType enum values to lowercase
  pyproject.toml
  src/ds_resource_plugin_py_lib/common/resource/client.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/storage_format.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/pandas.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/pandas.py
  tests/common/resource/client/test_sanitize_version.py
  tests/common/serde/deserialize/test_awswrangler_deserializer.py
  tests/common/serde/deserialize/test_pandas_deserializer.py
  tests/common/serde/serialize/test_awswrangler_serializer.py
  tests/common/serde/serialize/test_pandas_serializer.py
  uv.lock
Due: ruff, ruff-format, mypy, bandit

refactor: change enum values to uppercase for consistency
  src/ds_resource_plugin_py_lib/common/resource/client.py
  src/ds_resource_plugin_py_lib/common/resource/dataset/storage_format.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/pandas.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/pandas.py
  src/ds_resource_plugin_py_lib/libs/utils/sanitize.py
  tests/common/resource/client/test_sanitize_version.py
  tests/common/serde/deserialize/test_awswrangler_deserializer.py
  tests/common/serde/deserialize/test_pandas_deserializer.py
  tests/common/serde/serialize/test_awswrangler_serializer.py
  tests/common/serde/serialize/test_pandas_serializer.py
Due: ruff, ruff-format, mypy, bandit

refactor: organize utility imports and add __init__.py for shared libraries
  src/ds_resource_plugin_py_lib/common/resource/client.py
  src/ds_resource_plugin_py_lib/libs/utils/__init__.py
Due: ruff, ruff-format, mypy, bandit

chore: update contract to include constructor and schema binding
  docs/DATASET_CONTRACT.md
  docs/LINKED_SERVICE_CONTRACT.md
Due: none

fix: align slightly
  docs/DATASET_CONTRACT.md
Due: none

Align serde config with settings and register built-ins
  docs/SERDE_CONTRACT.md
  src/ds_resource_plugin_py_lib/common/resource/client.py
  src/ds_resource_plugin_py_lib/common/serde/__init__.py
  src/ds_resource_plugin_py_lib/common/serde/base.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/base.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/pandas.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/__init__.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/base.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/builtin.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/pandas.py
  tests/common/resource/client/test_instance_creation.py
  tests/common/resource/client/test_properties.py
  tests/common/resource/client/test_serde_registration.py
  tests/common/resource/dataset/test_dataset_base_abstracts.py
  tests/common/serde/deserialize/test_awswrangler_deserializer.py
  tests/common/serde/deserialize/test_pandas_deserializer.py
  tests/common/serde/serialize/test_awswrangler_serializer.py
  tests/common/serde/serialize/test_pandas_serializer.py
  tests/conftest.py
Due: ruff, ruff-format, mypy, bandit

lint
  docs/SERDE_CONTRACT.md
  src/ds_resource_plugin_py_lib/common/serde/deserialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/pandas.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/__init__.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/builtin.py
  tests/common/resource/client/test_instance_creation.py
Due: ruff, ruff-format, mypy, bandit

Path conditions:
  ruff: any of: ^(src|tests)/
  ruff-format: any of: ^(src|tests)/
  mypy: any of: ^src/
  bandit: any of: ^src/
