Repository grasp-labs/ds-resource-plugin-py-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '^(k8s/.*/templates/.*\.ya?ml)$'
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language: system
        entry: uv run ruff check
        args: [--config, .config/ruff.toml, --fix, --exit-non-zero-on-fix]
        files: ^(src|tests)/
      - id: ruff-format
        name: ruff-format
        language: system
        entry: uv run ruff format
        args: [--config, .config/ruff.toml]
        files: ^(src|tests)/
      - id: mypy
        name: mypy
        language: system
        entry: uv run mypy
        args: [--config-file, .config/mypy.ini, src]
        pass_filenames: false
        files: ^src/
      - id: bandit
        name: bandit
        language: system
        entry: uv run bandit
        args: [-r, src]
        files: ^src/
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--fix]

lint
  tests/common/serde/serialize/test_awswrangler_serializer.py
Due: ruff, ruff-format

Document canonical SD Worx serializer type
  docs/SERDE_CONTRACT.md
Due: none

fix: update version to 0.1.0-rc.3 and correct SEMI_STRUCTURED_JSON format
  pyproject.toml
  src/ds_resource_plugin_py_lib/common/resource/dataset/storage_format.py
  uv.lock
Due: ruff, ruff-format, mypy, bandit

chore: bump v0.1.0-rc.3
  pyproject.toml
  uv.lock
Due: none

fix: invalid enum value for semi-structured-json
  src/ds_resource_plugin_py_lib/common/resource/dataset/storage_format.py
Due: ruff, ruff-format, mypy, bandit

chore: update dataset-contract checkpoint definition
  docs/DATASET_CONTRACT.md
Due: none

feat: Support binary serde
  src/ds_resource_plugin_py_lib/common/resource/dataset/storage_format.py
  src/ds_resource_plugin_py_lib/common/serde/binary.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/deserialize/pandas.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/awswrangler.py
  src/ds_resource_plugin_py_lib/common/serde/serialize/pandas.py
Due: ruff, ruff-format, mypy, bandit

chore: update test for serde binary path
  tests/common/serde/deserialize/test_awswrangler_deserializer.py
  tests/common/serde/deserialize/test_pandas_deserializer.py
  tests/common/serde/serialize/test_awswrangler_serializer.py
  tests/common/serde/serialize/test_pandas_serializer.py
  tests/common/serde/test_binary.py
Due: ruff, ruff-format

chore: bump v0.1.0
  pyproject.toml
  uv.lock
Due: none

Potential fix for pull request finding
  tests/common/serde/serialize/test_pandas_serializer.py
Due: ruff, ruff-format

Potential fix for pull request finding
  tests/common/serde/serialize/test_awswrangler_serializer.py
Due: ruff, ruff-format

chore: docs typo's
  tests/common/serde/deserialize/test_awswrangler_deserializer.py
  tests/common/serde/deserialize/test_pandas_deserializer.py
Due: ruff, ruff-format

Apply suggestions from code review
  src/ds_resource_plugin_py_lib/common/serde/binary.py
Due: ruff, ruff-format, mypy, bandit

fix: json default handling for json.dumps of the deserializer path
  src/ds_resource_plugin_py_lib/common/serde/deserialize/pandas.py
  src/ds_resource_plugin_py_lib/libs/utils/__init__.py
  src/ds_resource_plugin_py_lib/libs/utils/json_default.py
  tests/common/serde/deserialize/test_pandas_deserializer.py
  tests/libs/utils/test_json_default.py
Due: ruff, ruff-format, mypy, bandit

fix: simplify and added tests
  src/ds_resource_plugin_py_lib/libs/utils/json_default.py
  tests/libs/utils/test_json_default.py
Due: ruff, ruff-format, mypy, bandit
